---
layout: default
title: Recombination Landscapes and Genome Evolution in Angiosperms
---
<div class="results">
	<h2>Abstract</h2>
	<p>Recombination is a crucial mechanism for eukaryotes. Because recombination enhances genetic admixture during the meiosis, it constantly produces new genetic combinations in populations, leading to a higher efficiency of selection.
		Recombination also implies molecular consequences at a nucleotide scale, with DNA double strands break and repair mechanisms generally biased toward GC nucleotides in a lot of species.
		Then, reliable estimates of the local recombination rates along the genome, also defined as recombination landscapes, are highly relevant in the study of genome evolution, as they may help to understand how species respond to selection and adapt to their environment.

		Angiosperms present a high variation of genome architectures, with a large range of genome size, number of chromosomes, average recombination rate or nucleotide composition. Although, the study of nucleotide composition is still recent compared to metazoans, especially mammals, and recombination landscapes still need to be explored across the overall Angiosperms taxa.

		Based on a comparative genomic approach, we'll try to assemble a large dataset of recombination landscapes to assess the variation of the recombination rate across the whole Angiosperm group.
	</p>

		<h2>Marey maps</h2>
		<p>We already have a first validated dataset of 17 Marey maps waiting to be integrated in further analyses.</p>

		  {% include image-gallery.html folder="/gallery/marey" %}

		<p><a href="/recombinationlandscapes/chromosome.stats.csv">Download summary statistics of Marey maps (csv)...</a></p>

		<h2>Recombination landscapes</h2>
		<p>A selection of recombination landscapes estimated by LOESS regression. The local recombination rate (cM/bp) is the derivative in a point of the LOESS function fitting the data. Dashed lines represent the CI at 95%.</p>

			{% include image-gallery.html folder="/gallery/rec_maps" %}

</div><!-- /.blurb -->
