<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/recombinationlandscapes">Recombination Landscapes Project</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brazier.thomas@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thomasbrazier">github.com/thomasbrazier</a></li>
				</ul>
			</footer>
		</body>
	</html>
